<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h1 class="card-title text-center text-white py-2">{{ title }}</h1>

          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="" class="btn btn-info">Home</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/lastBought" class="btn btn-info">Popular</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/allTours" class="btn btn-info">All tours</a>
            </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>